html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body{
  font-family: 'Roboto', sans-serif;
  margin:0
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}





:root {
  --white-lighter: #FFFFFF;
  --white-light: #FAFAFA;     
  --white-primary: #E0FBFC;   
  --white-dark: #D9D9D9;      
  --white-darker: #7A7A7A;    

  --blue-lighter: #D0E4F0;    
  --blue-light: #98C1D9;      
  --blue-primary: #3D5A80;    
  --blue-dark: #2C3E50;       
  --blue-darker: #1B2A38;     

  --orange-lighter: #FFD6C4;  
  --orange-light: #FF9B80;    
  --orange-primary: #EE6C4D;  
  --orange-dark: #CC4A36;     
  --orange-darker: #99321F;   

  --black-lighter: #555555;   
  --black-primary: #1A1A1A;   
  --black-dark: #0F0F0F;      
  --black-darker: #000000;    

  --olive-lighter: #D9D7B8;   
  --olive-light:   #BFB87A;   
  --olive-primary: #73683B;   
  --olive-dark:    #5A4E30;   
  --olive-darker:  #3D2E1A;
}

